<ion-header>
  <ion-navbar>
    <ion-title>Liste de courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let it of items.sort(compareItems)">
      <ion-checkbox name="chk_{{it.name}}" [(ngModel)]="it.bought"></ion-checkbox>
	  <ion-label [ngClass]="{'bought-item': it.bought }">{{it.name}}</ion-label>
	  <!--any idea why we need a ion-label in this case? it is nowhere in the doc!-->
	  <ion-buttons item-end>
	    <button ion-button icon-only (click)="editItem(it)" clear>
		  <ion-icon name="create"></ion-icon>
		</button>
      <button ion-button icon-only (click)="deleteItem(it)" clear>
        <ion-icon name="trash"></ion-icon>
      </button>
	  </ion-buttons>
    </ion-item>
  </ion-list>
  
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
