<ion-header>

  <ion-navbar>
    <ion-title>Mon pense-b&ecirc;te T&Agrave;F</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="seeFuture">
    <ion-segment-button value="futur">
      À venir
    </ion-segment-button>
    <ion-segment-button value="passe">
      Passés
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="seeFuture">
    <ion-list *ngSwitchCase="'futur'">
      <ion-item *ngFor="let taf of tafs.filter(tafFilter).sort(sortTaf)">
        <h2>{{taf.occupation}}</h2>
        <p>
          le {{taf.startDate.format('dddd D/MM/Y')}} <br>
          de <b>{{taf.startDate.format('HH:mm')}}</b> à <b>{{taf.endDate.format('HH:mm')}}</b>
        </p>
        <ion-buttons item-end>
          <button ion-button icon-only (click)="editItem(taf)" clear>
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteItem(taf)" clear>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'passe'">
      <ion-item *ngFor="let taf of tafs.filter(notTafFilter).sort(sortTaf)">
        <h2>{{taf.occupation}}</h2>
        <p>
          le {{taf.startDate.format('dddd D/MM/Y')}} <br>
          de <b>{{taf.startDate.format('HH:mm')}}</b> à <b>{{taf.endDate.format('HH:mm')}}</b>
        </p>
        <ion-buttons item-end>
          <button ion-button icon-only (click)="editItem(taf)" clear>
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteItem(taf)" clear>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
  
  
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
